.game-container {
  display: flex;
}

.tower-panel {
  width: 100px;
  padding: 10px;
  background-color: #ddd;
  text-align: center;
}

.tower {
  margin: 10px;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: green;
  cursor: grab;
  /* Change the cursor to indicate this can be dragged */
}



.range {
  display: none;
  /* Initially don't display the range */
  position: absolute;
  width: 150px;
  /* Set the range diameter */
  height: 150px;
  /* Set the range diameter */
  border-radius: 50%;
  /* Make the range circular */
  background-color: rgba(0, 255, 0, 0.2);
  /* Range color with transparency */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Center the range over the tower */
  pointer-events: none;
  /* This makes sure the range doesn't interfere with dragging */
  z-index: -1;
  /* Ensure the range appears behind the tower */
}

.tower.dragging .range {
  display: block;
  /* Show the range when dragging */
}

.tower:active {
  /* When the tower is being clicked */
  cursor: grabbing;
  /* Change the cursor to indicate dragging */
}


.obstacle {
  margin: 10px;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: black;
  z-index: 1;
}

.canvas-container {
  /* margin-left: 20px; */
}

.player-life {
  color: #fff;
  /* White text color */
  background-color: #4CAF50;
  /* Green background */
  padding: 10px;
  /* Padding around the text */
  border-radius: 5px;
  /* Rounded corners */
  margin-top: 10px;
  /* Space between top of the container and life display */
  margin-bottom: 20px;
  /* Space between life display and canvas */
  font-size: 1.2em;
  /* Larger font size */
  font-weight: bold;
  /* Bold font */
  width: fit-content;
  /* Only take up as much width as necessary */
}